In [3]:
# Importing relevant libraries
import numpy as np 
import pandas as pd
from pydataset import data
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [4]:
raw_data = data("titanic")
raw_data.head()
raw_data.isnull().sum()

class       0
age         0
sex         0
survived    0
dtype: int64

In [5]:
data = pd.get_dummies(raw_data, drop_first = True)
data.head()

   class_2nd class  class_3rd class  age_child  sex_women  survived_yes
1                0                0          0          0             1
2                0                0          0          0             1
3                0                0          0          0             1
4                0                0          0          0             1
5                0                0          0          0             1

In [6]:
y = data['survived_yes']
x = data.drop('survived_yes', axis = 1)
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state =85)

In [7]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [8]:
y_test_pred = logreg.predict(x_test)

In [9]:
cm = pd.DataFrame(confusion_matrix(y_test, y_test_pred))
cm.columns = ['Predicted 0', 'Predicted 1']
cm = cm.rename(index = {0:'Actual 0', 1:'Actual 1'})
cm

NameError: name 'cm_test' is not defined

In [164]:
accuracy_score(y_test, y_test_pred)

0.75

In [165]:
classification_report(y_test, y_test_pred)

'              precision    recall  f1-score   support\n\n           0       0.78      0.83      0.80       163\n           1       0.70      0.61      0.65       101\n\n    accuracy                           0.75       264\n   macro avg       0.74      0.72      0.73       264\nweighted avg       0.75      0.75      0.75       264\n'